.MovieDetailsNavList {
  list-style: none;
  display: flex;
  padding: 0;
  padding-left: 10px;
}

.MovieDetailsNavListItem:not(:last-child) {
  border-right: 1px solid #465298;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;
  font-weight: 500;
  color: #465298;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: #2196f3;
}
