.BackButton {
  display: flex;
  align-items: center;
  padding: 3px 10px;

  color: white;
  background-color: #606dbc;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);

  transition: background-color 250ms ease-out;
}

.BackButton:hover {
  background-color: #465298;
}

.BackButtonArrow {
  padding-right: 8px;
  font-size: 1.5em;

  color: white;
  transition: color 250ms ease-out;
}

.BackButton:hover .BackButtonArrow {
  color: yellow;
}
