.Arrow {
  position: fixed;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 50px;
  width: 50px;

  user-select: none;
  pointer-events: initial;
  opacity: 1;

  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(64, 81, 181, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 67%;
  box-shadow: 0px 0px 20px 1px white;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Arrow:hover {
  background-color: rgba(63, 81, 181, 0.8);
  cursor: pointer;
}

.ArrowUp {
  composes: Arrow;
  bottom: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ffffff' d='M27.414 12.586l-10-10c-0.781-0.781-2.047-0.781-2.828 0l-10 10c-0.781 0.781-0.781 2.047 0 2.828s2.047 0.781 2.828 0l6.586-6.586v19.172c0 1.105 0.895 2 2 2s2-0.895 2-2v-19.172l6.586 6.586c0.39 0.39 0.902 0.586 1.414 0.586s1.024-0.195 1.414-0.586c0.781-0.781 0.781-2.047 0-2.828z'%3E%3C/path%3E%3C/svg%3E");
}

.ArrowDown {
  composes: Arrow;
  top: 100px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ffffff' d='M27.414 19.414l-10 10c-0.781 0.781-2.047 0.781-2.828 0l-10-10c-0.781-0.781-0.781-2.047 0-2.828s2.047-0.781 2.828 0l6.586 6.586v-19.172c0-1.105 0.895-2 2-2s2 0.895 2 2v19.172l6.586-6.586c0.39-0.39 0.902-0.586 1.414-0.586s1.024 0.195 1.414 0.586c0.781 0.781 0.781 2.047 0 2.828z'%3E%3C/path%3E%3C/svg%3E");
}
